<div class="expanded row">

    <div class="columns small-3 large-2">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in vm.users | limitTo: vm.usersCount">
                <a ui-sref="users.details({userLogin : user.login})" ui-sref-active="active">{{user.login}}</a>
            </li>

        </ul>
        <button class="expanded success button" ng-click="vm.loadMoreUsers()">Load More</button>

    </div>

    <div class="columns small-9 large-6 large-offset-1">
        <ui-view></ui-view>
    </div>
    <div class="columns large-1">

    </div>
</div>